@page "/studentdetail/{id}"

<h3>Detail Student</h3>
<p>Manuel Vallancio - 72190270</p>
<p>Student Id : @Student.StudentId</p>
<p>Last Name : @Student.LastName</p>
<p>First Name : @Student.FirstName</p>
<p>Enrollment Date : @Student.EnrollmentDate</p>

<a href="/studentpage" class="btn btn-primary">Back</a>
<a href="@($"EditStudent/{Student.StudentId}")" class="btn btn-secondary m-1">Edit</a>
