@page "/studentpage"

<h3>Daftar Student </h3>
<p>Manuel Vallancio - 72190270</p>
<a href="/addstudent" class="btn btn-primary">Create New</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nim</th>
            <th>Nama Depan</th>
            <th>Nama Belakang</th>
            <th>Tanggal Masuk</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stu in Student)
        {
            <tr>
                <td>@stu.StudentId</td>           
                <td>@stu.FirstName</td>
                 <td>@stu.LastName</td>
                <td>@stu.EnrollmentDate</td>

              <td><a href="@($"studentdetail/{stu.StudentId}")" class="btn btn-info">details</a>
               <a href=/detailenrollment class="btn btn-primary">enroll</a>
                    <a href="@($"EditStudent/{stu.StudentId}")" class="btn btn-secondary m-1">Edit</a>
                     <a href="@($"deletestudent/{stu.StudentId}")" class="btn btn-danger m-1">Delete</a></td>
            </tr>
            
        }
    </tbody>
</table>
